c FILE: tiny1.cnf
c
c SOURCE: André dos Santos (andre.santos1@ufv.br)
c
c DESCRIPTION: Handcrafted instance designed for quick testing of SAT solvers.
c FORMULA: (p | q | !r) & (!q | r)
c
c NOTE: Satisfiable
c
p cnf 3 2
1 2 -3 0 
-2 3 0